@sidebarColor: #354a5d;
@sidebarColorActive: #2d3e50;
@contentColor: #f5f6f8;
@tableTextColor: #999a9e;
@tableTheadTextColor: #605d5d;
@zero: 0;
@sidebarTextColor: white;
@phoneIconColor : #9a9a9a;
*
{
  margin: 0;
  padding: 0;
}
html, body, .container-fluid,.row,.contentColor {
  height: 100%;
}

.sidebar {
  background-color: @sidebarColor;
  color: @sidebarTextColor;
}
.paddingFix {
  padding: @zero;
}
.paddingLeft10>div>label {
  padding-left: 10px;
}
.marginTop20{
  margin-top: 20px;
}
.paddingTop20{
  padding-top: 20px;
}
.paddingTop10{
  padding-top: 10px;
}

.contentColor {
    background-color: @contentColor;
}
.clientsTheadColor>td>a> {
  color: @tableTheadTextColor;
  cursor: pointer;
  text-decoration: none;
}
.clientsTbodyColor>tr>td {
  color:@tableTextColor ;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: white;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border: none;
  line-height: 2.4;
}

#contactIcon {
  font-size: 50px;
  padding-top: 20px;
  width: 50px;
}
.form-horizontal .control-label {
  text-align: left;
}
.paddingRight10 {
  padding-right: 10px;
}
.paddingLeftFix {
  padding-left: @zero;
}
.paddingRightFix {
  padding-right: @zero;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}



/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0;}
.right-addon .glyphicon { right: 0;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.left-addon .glyphicon {
  left: auto;
}
.phoneIcon {
  color: @phoneIconColor;
}


// take btn styles
.viewBtn {
  color: white;
  background-color: #a8a9a7;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 15px;
}
.viewBtn:hover {
  color: white;
  background-color: #7D7D7D ;
}
.displayBlock {
  display: block;
}
.addressPadding {
  padding-left: 10px;
  padding-right: @zero;
}
form .ng-dirty.ng-invalid,
{
  border: 1px solid #FD0000;
}
.help-block p{
  color: #FD0000;
}
.glyphiconSmall span.glyphicon{
  font-size: 12px;
}
.clientsDelailsBtn{
  background-color: @sidebarColor;
}
.clientsDelailsBtn:hover{
  background-color: @sidebarColor;
  color: white;
  border-radius: 0;
}
.clientsDelailsBtn.active{
  background-color: @sidebarColorActive;
}

//  button clientDetailsPage

.bubble
{
  position: relative;
  width: 250px;
  height: 120px;
  padding: 0;
  background: #FFFFFF;

}

.bubble:before
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width:  10px 10px 10px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  right: -1px;
  top: 45px;
}


// sidebar styles

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }
}

