<div class="container Override">
    <div class="row fill">
        <div class="wrapper">
            <div class="col-md-1 sidebar paddingFix">
                <span id="contactIcon" class="glyphicon glyphicon glyphicon-user center-block" aria-hidden="true"></span>
                <p class="text-center text-uppercase">contact</p>
            </div>
            <div class="col-md-11 paddingFix">
                <div class="col-md-5">
                    <form name="userContacts" class="form-horizontal marginTop20 paddingLeft10"  ng-submit="submitForm(userContacts)" novalidate>
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">Civility</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option>Mr</option>
                                    <option>Mrs</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : userContacts.firstname.$invalid && !userContacts.firstname.$pristine}">
                            <label class="col-sm-3 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  placeholder="Firstname" ng-model="userContacts.firstname" ng-minlength="2" ng-maxlength="15" required>
                                <p ng-show="userContacts.firstname.$invalid && !userContacts.firstname.$pristine" class="help-block">You name is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : userContacts.lastname.$invalid && !userContacts.lastname.$pristine}">
                            <label class="col-sm-3 control-label ">Lastname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  placeholder="Lastname" ng-model="userContacts.lastname" required>
                                <p ng-show="userContacts.lastname.$invalid && !userContacts.lastname.$pristine" class="help-block">You lastname is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : userContacts.email.$invalid && !userContacts.email.$pristine}">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control"  placeholder="Email" ng-model="userContacts.email" required>
                                <p ng-show="userContacts.email.$invalid && !userContacts.email.$pristine" class="help-block">Enter a valid email.</p>                            </div>
                        </div>
                        <!--<div class="form-group inner-addon left-addon" ng-class="{ 'has-error' : userContacts.phoneNumbers.$invalid && !userContacts.phoneNumbers.$pristine}">-->
                            <!--<label class="col-sm-3 control-label " ng-model="userContacts.phoneNumbers.title">Home phone</label>-->
                            <!--<div class="col-sm-8">-->
                                <!--<span class="glyphicon glyphicon-earphone phoneIcon"></span>-->
                                <!--<input type="text" class="form-control"  placeholder="Home phone number" ng-model="userContacts.phoneNumbers.phoneNumber[0]" required>-->
                                <!--<p ng-show="userContacts.lastname.$invalid && !userContacts.lastname.$pristine" class="help-block">You phone number is required.</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group inner-addon left-addon" ng-class="{ 'has-error' : userContacts.phoneNumber.$invalid && !userContacts.phoneNumber.$pristine}">-->
                            <!--<label class="col-sm-3 control-label ">Mobile phone</label>-->
                            <!--<p ng-show="userContacts.phoneNumbers.$invalid && !userContacts.phoneNumbers.$pristine" class="help-block">You lastname is required.</p>-->
                            <!--<div class="col-sm-8">-->
                                <!--<span class="glyphicon glyphicon-earphone phoneIcon"></span>-->
                                <!--<input type="text" class="form-control"  placeholder="Mobile phone"  ng-model="userContacts.phoneNumbers.phoneNumber[1]" required>-->
                                <!--<p ng-show="userContacts.phoneNumbers.$invalid && !userContacts.phoneNumbers.$pristine" class="help-block">You lastname is required.</p>-->
                            <!--</div>-->
                        <!--</div> -->

                        <div ng-class="{ 'has-error' : userContacts.phoneNumbers.$invalid && !userContacts.phoneNumbers.$pristine}"></div>
                        <div class="form-group inner-addon left-addon"  ng-repeat="phoneNumber in phoneNumbers">
                            <label class="col-sm-3 control-label ">{{phoneNumber.title}}</label>
                            <div class="col-sm-8">
                                <span class="glyphicon glyphicon-earphone phoneIcon"></span>
                                <input type="text" class="form-control"  placeholder="Home phone number" ng-model="phoneNumber.phoneNumber" required>
                                <p ng-show="userContacts.lastname.$invalid && !userContacts.lastname.$pristine" class="help-block">You phone number is required.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="col-sm-12 control-label vcenter">Adress</label>
                        </div>
                        <div class="col-md-8 paddingRightFix">
                            <div class="form-group">
                                <div class="col-sm-12 ">
                                    <input type="text" class="form-control"  placeholder="Adress1">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 ">
                                    <input type="text" class="form-control"  placeholder="Adress2">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 ">
                                    <div class="col-md-6 paddingLeftFix">
                                        <input type="number" class="form-control "  placeholder="Post code">
                                    </div>
                                    <div class="col-md-6  paddingFix">
                                        <input type="text" class="form-control "  placeholder="City">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 ">
                                    <input type="text" class="form-control"  placeholder="Country">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-sm-12">
                                    <button type="submit" class="btn btn-success btn-block" ng-disabled="userContacts.$invalid">Save</button>
                                </div>
                            </div>
                        </div>

                    </form>
                    </div>
                <div class="col-md-7">
                    <!--<input ng-model="highchartsNG.title.text">-->
                    <!--<button ng-click="addSeries()">Add Series</button>-->
                    <!--<button ng-click="addPoints()">Add Points to Random Series</button>-->
                    <!--<button ng-click="removeRandomSeries()">Remove Random Series</button>-->
                    <!--<button ng-click="swapChartType()">Line/Bar</button>-->
                    <highchart id="chart1" config="highchartsNG" class="marginTop20"></highchart>
                <!--</div>-->
            <!--</div>-->
                    <!--<div id="container1" class="marginTop20" ></div>-->
                    <!--<highchart class="chart" config="chartConfig"  ></highchart>-->
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>


