<div class="container Override">
    <div class="row fill">
        <div class="wrapper">
            <div class="col-md-1 sidebar paddingFix">
                <span id="contactIcon" class="glyphicon glyphicon glyphicon-user center-block" aria-hidden="true"></span>
                <p class="text-center text-uppercase">contact</p>
            </div>
            <div class="col-md-11 paddingFix">
                <div class="col-md-5">
                    <form name="userContacts" class="form-horizontal marginTop20 paddingLeft10"  ng-submit="submitForm(userContacts)" novalidate>
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">Civility</label>
                            <div class="col-sm-4">
                                <select class="form-control">
                                    <option>Mr</option>
                                    <option>Mrs</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : userContacts.firstname.$invalid && !userContacts.firstname.$pristine}">
                            <label class="col-sm-3 control-label">Firstname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  placeholder="Firstname" ng-model="userContacts.firstname" ng-minlength="2" ng-maxlength="15" required>
                                <p ng-show="userContacts.firstname.$invalid && !userContacts.firstname.$pristine" class="help-block">You name is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : userContacts.lastname.$invalid && !userContacts.lastname.$pristine}">
                            <label class="col-sm-3 control-label ">Lastname</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  placeholder="Lastname" ng-model="userContacts.lastname" required>
                                <p ng-show="userContacts.lastname.$invalid && !userContacts.lastname.$pristine" class="help-block">You lastname is required.</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : userContacts.email.$invalid && !userContacts.email.$pristine}">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control"  placeholder="Email" ng-model="userContacts.email" required>
                                <p ng-show="userContacts.email.$invalid && !userContacts.email.$pristine" class="help-block">Enter a valid email.</p>
                            </div>
                        </div>
                        <div class="form-group inner-addon left-addon"  ng-repeat="phoneNumber in phoneNumbers" ng-class="{ 'has-error' : userContacts.phoneNumbers.$invalid && !userContacts.phoneNumbers.$pristine}">
                            <label class="col-sm-3 control-label ">{{phoneNumber.title}}</label>
                            <div class="col-sm-8">
                                <span class="glyphicon glyphicon-earphone phoneIcon"></span>
                                <input type="text" class="form-control"  placeholder="{{phoneNumber.title}}" ng-model="phoneNumber.phoneNumber" required>
                                <p ng-show="userContacts.lastname.$invalid && !userContacts.lastname.$pristine" class="help-block">You phone number is required.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="col-sm-12 control-label vcenter">Address1</label>
                        </div>
                        <div class="col-md-8 addressPadding">
                            <div class="form-group" ng-class="{ 'has-error' : userContacts.address.line1.$invalid && !userContacts.address.line1.$pristine}">
                                <div class="col-sm-12 ">
                                    <input type="text" class="form-control" ng-model="userContacts.address.line1" placeholder="Adress1" required>
                                    <p ng-show="userContacts.address.line1.$invalid && !userContacts.address.line1.$pristine" class="help-block">You Address number is required.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userContacts.address.line2.$invalid && !userContacts.address.line2.$pristine}">
                                <div class="col-sm-12 ">
                                    <input type="text" class="form-control" ng-model="userContacts.address.line2" placeholder="Adress2" required>
                                    <p ng-show="userContacts.address.line2.$invalid && !userContacts.address.line2.$pristine" class="help-block">You Address is required.</p>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userContacts.address.postcode.$invalid && !userContacts.address.postcode.$pristine && userContacts.address.city.$invalid}">
                                <div class="col-sm-12 ">
                                    <div class="col-md-6 paddingLeftFix">
                                        <input type="number" class="form-control " ng-model="userContacts.address.postcode"  placeholder="Post code" required>
                                        <p ng-show="userContacts.address.postcode.$invalid && !userContacts.address.postcode.$pristine" class="help-block">You Post code is required.</p>
                                    </div>
                                    <div class="col-md-6  paddingFix">
                                        <input type="text" class="form-control " ng-model="userContacts.address.city"  placeholder="City" required>
                                        <p ng-show="userContacts.address.city.$invalid && !userContacts.address.city.$pristine" class="help-block">You City is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : userContacts.address.country.$invalid && !userContacts.address.country.$pristine}">
                                <div class="col-sm-12 ">
                                    <input type="text" class="form-control" ng-model="userContacts.address.country" placeholder="Country" required>
                                    <p ng-show="userContacts.address.country.$invalid && !userContacts.address.country.$pristine" class="help-block">You  Country is required.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-sm-12">
                                    <button type="submit" class="btn btn-success btn-block" ng-disabled="userContacts.$invalid">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                <div class="col-md-7">
                    <highchart id="chart1" config="highchartsNG" class="marginTop20"></highchart>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


